@page "/"
@using AutoDoc_Front_End.Data
@using System.Text.RegularExpressions
@using System.Web
@inject CodeNarratorService narratorService

<PageTitle>Code narrator</PageTitle>

@if (codeNarrations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="code-narration-feed">
        <div class="story">
            <button class="accordion" id="view-code-diagram-btn">View code diagram</button>
            <div class="panel">
                <div class='mermaid'>
                    @codeNarrations.mermaid
                </div>
            </div>
        </div>
        @foreach (var codeNarration in codeNarrations.function_array)
        {
            <div id="@codeNarration.function_name-story" class="story">
                <h3>@codeNarration.function_name</h3>
                <ul >
                    @foreach (var explanation_step in codeNarration.explanation_steps_array)
                    {
                        <li >@explanation_step</li>
                    }
                </ul>
                <button class="accordion">View code</button>
                <div class="panel">
                    <pre><code class="language-csharp">@codeNarration.original_code</code></pre>
                </div>
            </div>
        }
    </div>
}

@code {
    private DocumentItem? codeNarrations;

    protected override async Task OnInitializedAsync()
    {
        codeNarrations = await narratorService.GetCodeNarrationAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}